body {
  font-family: Arial;
}
/* Display: Block */

div.bloco {
  display: block;
  width: 200px;
  height: 50px;
  background-color: lightcoral;
  margin-bottom: 10px;
  text-align: center;
  /* Altura da linha */
  line-height: 50px;
}
/* Características do display block
- Ocupa toda a largura disponivel 
- Sempre quebra linha
- E aceita width e height (largura e altura)
 */

/* Display Inline */
div.linha {
  display: inline;
  background-color: lightgreen;
  padding: 10px;
  margin: 10px;
  /* Elementos inline não aceitam altura */
  height: 500px;
}
/* Características  do Display INLINE 
- Não quebra linha
- Ocupa apenas o espaço do content (conteúdo)
- Não aceita width e height (largura e altura) */


/* Display: inline-block */
div.card1{
        background-color: blueviolet;
        width: 150px;
        height: 150px;
}
div.card2{
    background-color: aqua;
     width: 150px;
        height: 90px;
}

div.linha-bloco{
    display: inline-block;
    margin: 10px;
    text-align: center;
    line-height: 50px;
}